{% extends "reg/base.html" %}
{% load static %}
{% load staticfiles %}

{% block nuevo %}active{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'reg/css/styles.css' %}"/>
{% endblock %}

{% block javascript %}
<script src="{% static 'reg/js/nuevo_presupuesto.js' %}"></script>
{% endblock %}

{% block contenido %}
{% include 'reg/mensajes.html' %}
        <h1>Nuevo Presupuesto</h1>
        <form action="" method="post" id="nuevo_presupuesto">
                {% csrf_token %}
                <table id="presupuesto_form" class="table">
                        {{ form.as_table }}
                </table>
                <input class="btn btn-primary mx-auto mb-5 d-block" id="envioformtotal" type="submit" value="OK">
        </form>
{% endblock %}
{% block footer %}
{{ form.media }}
{% endblock %}
